html.ch{
	margin:0;
	padding:0;
	background-color: #000000;
				
}


body.cb{
	margin: 0;
	overflow: hidden;
	background-color: #000000;
	z-index: 1;
}


.contFrame{
	position: fixed;
	overflow: hidden;
	top: 5%;
  	left: 5%;
  	bottom: 5%;
  	right: 5%;
	width: 90%;
	height: 90%;
	border: 1px dashed white;

}

/* /////////////////// SMALL SCREEN  ////////////////////// */

@media screen and (max-width:  600px){

.contFrame{
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	padding: 0%;
	width: 99%;
	height: 99%;
	border: 1px dashed white;

}

}
