html.ch{
	margin:0;
	padding:0;
	background-color: #000000;
				
}


body.cb{
	margin: 0;
	overflow: hidden;
	background-color: #000000;
	z-index: 1;
}

a{
	text-decoration: none;
	color: #ffffff;
	display: block;

}

a:hover{
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;

}

.contFrame{
	position: fixed;
	top: 5%;
  	left: 5%;
  	bottom: 5%;
  	right: 5%;
	width: 90%;
	height: 90%;
	border: .5px dashed white;

}

.header{
	text-align: center;
	/*background-color: #000000;*/
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	position: fixed;
	width: 100%;
	border: .5px dashed white;
	z-index: 1;
	background-color: #000000;

}

@media screen and (max-width:  768px){
	.header{
	text-align: center;
	/*background-color: #000000;*/
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	position: fixed;
	width: 100%;
	border: .5px dashed white;
	z-index: 1;
	background-color: #000000;

}
