/* ////////////////// global values /////////////////// */

html.main{
	margin:0;
	padding:0;
	background-color: #000000;
	scroll-behavior: smooth;

				
}


body.main{
	margin: 0;
	overflow: scroll;
	padding: 0%;
	background-color: #000000;
	z-index: 1;

}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}

a{
	text-decoration: none;
	color: #ffffff;
	display: block;

}

a:hover{
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;

}


h1{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #ffffff;
	font-size: 20px;
	position: relative;

}


h2{
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	color: #ffffff;
	font-size: 20px;
	position: relative;

}

h3{
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	color: #ffffff;
	font-size: 15px;
	font-weight: 200;
	position: relative;

}


p{
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	color: #ffffff;
	font-size: 15px;
	position: relative;
}

.cont{
	padding:  1%;
	/*overflow: scroll;*/
	background-color: #000000;

}

hr.a{
  border-top: .5px dotted white;
}

img{
	width: 100%;

}

.imgLink{

	width: 100%;
	border: .5px dotted white;
	transition: .2s;

}

.imgLink:hover{

	width: 100%;
	opacity: 0.95;

}


::-webkit-scrollbar{
	width: 0;
	height: 0;
}

.espace{
	height: 4%;
}

li{
	float: left;
	/*border: .5px dashed white;*/
	/*width: 49.8%;*/
	width: 50%;
}


/* /////////////////////// custom divs ////////////////////// */

.header{
	text-align: center;
	/*background-color: #000000;*/
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	position: fixed;
	width: 100%;
	border: .5px dashed white;
	z-index: 1;
	background-color: #000000;
	float: all;

}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 3%;
	grid-row-gap: 3%;
	/*border: .5px dashed white;*/

}

.grid-container2{
	display: grid;
	grid-template-columns: auto auto;
	/*border: .5px dashed white;*/

}

.grid-item{
	/*border: .5px dashed white;*/
	/*padding-left: 2%;*/

}

.labtxt{
	border: .5px dashed white;
}
/* images */

.img1{
}

.lab_img{
	border: .5px dashed white;

}

.infoCont{
	padding: 1%;
	/*padding-right: 2%;*/
	position: fixed;
	width: 36%;
	height: 100%;
	/*border-right: .5px dashed white;*/
	overflow: scroll;
	/*display: none;*/
}

.menuCont{
	padding: 1%;
	width: 57%;
	height: 100%;
	position: fixed;
	left: 40%;
	overflow: scroll;
	border-left: .5px dashed white;
}

.collapsible{
	display: none;
}

/*.collapsible:hover{
	background-color: #ffffff;
	color: #000000;

}*/

/* /////////////////// SMALL SCREEN  ////////////////////// */

@media screen and (max-width:  1200px){

/*li{
	float: left;
	border: .5px dashed white;
	width: 49.7%;
}*/

.imgLink{

	width: 100%;
	border-style: none;
	transition: .2s;

}

.imgLink:hover{

	width: 100%;
	opacity: 0.95;

}

}



/* /////////////////// SMALL SCREEN  ////////////////////// */

@media screen and (max-width:  600px){

/*li{
	float: left;
	border: .5px dashed white;
	width: 49.6%;
}*/

.grid-container{
	display: grid;
	grid-template-columns: auto;

}

.grid-container2{
	display: grid;
	grid-template-columns: auto;

}


.cont{
	padding-top: 7%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	/*overflow: scroll;*/
	background-color: #000000;
	-webkit-backface-visibility: hidden;

}	

.infoCont{
	padding: 1%;
	/*padding-top: 3%;*/
	position: relative;
	width: 99%;
	display: none;
	/*overflow: scroll;*/
}

.menuCont{
	padding: 1%;
	width: 99%;
	left: 0;
	/*height: 100%;*/
	position: relative;
	border-style: none;
	/*overflow: scroll;*/
}

.collapsible{
	padding: 1%;
	border-style: none;
	margin: 0;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	border: .5px dashed white;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #ffffff;
	font-size: 20px;
	background-color: #000000
}

.active, .collapsible:hover{
	background-color: #ffffff;
	color: #000000;

}
}